SUPABASE_URL =https://yyricefwfwefywiooj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzewfCI6IkpXVCJ9.eyJpc3MiwwefmljeGpldGt2eW1neXdpb29qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNzU0OTgsImV4cCI6MjEwMzg1MTQ5OewfewfewfwewfewfwefU-7AJy13h0C9RHaYcI
PORT = 3000